{% extends 'navbar.html.twig' %}

{% block content %}

    <div class="row px-5" style="height: 95%">
        <div class="col-3 position-fixed h-100">
            <div class="card mt-5">
                <div class="card-body">

                    {% if data.user.id == app.user.id %}

                        <form action="{{ path('change_name', {'id':app.user.id('id')})}}" method="post">
                            <div class="d-flex justify-content-between">
                                <div class="md-form mt-0">
                                    <input type="text" class="form-control" value="{{ app.user.firstname }}" id="input-profil-firstname" name="firstname" required>
                                    <label for="input-profil-firstname">Prénom</label>
                                </div>
                                <div class="md-form mt-0">
                                    <input type="text" class="form-control" value="{{ data.user.lastName }}" id="input-profil-lastname" name="lastname" required>
                                    <label for="input-profil-lastname">Nom</label>
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary" style="width: 100px; height: 34px; padding: 0px 10px;">Modifier</button>
                            </div>
                        </form>

                    {% else %}

                        <p class="card-text">Prénom : {{ data.user.firstname }}</p>
                        <p class="card-text">Nom : {{ data.user.lastName }}</p>

                    {% endif %}

                    <p class="card-text">Email : {{ data.user.email }}</p>
                    <p class="card-text">Anniversaire : {{ data.user.bornDate|date("d/m") }}</p>
                </div>
            </div>

            {% if data.user.id == app.user.id %}

                <div class="card mt-5">
                    <div class="card-body">
                        <div class="w-100 text-center">
                            <h5 class="card-title"><a>Changer mon mot de passe</a></h5>
                        </div>
                        <form action="{{ path('change_user_password', {'id':app.user.id('id')})}}" method="post">
                            <div class="md-form form-group mt-5">
                                <i class="fas fa-clock fa-xs prefix"></i>
                                <input type="password" class="form-control form-control-sm" name="old_pw" id="input-profil-pw-ancien" />
                                <label for="input-profil-pw-ancien">Ancien mot de passe</label>
                            </div>
                            <div class="md-form form-group">
                                <i class="fas fa-lock fa-xs prefix"></i>
                                <input type="password" class="form-control form-control-sm" name="new_pw" id="input-profil-pw-nouveau" />
                                <label for="input-profil-pw-nouveau">Nouveau mot de passe</label>
                            </div>
                            <div class="md-form form-group">
                                <i class="fas fa-lock fa-xs prefix"></i>
                                <input type="password" class="form-control form-control-sm" name="cnew_pw" id="input-profil-pw-confirmation" />
                                <label for="input-profil-pw-confirmation">Confirmation du nouveau mot de passe</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm float-right">Valider</button>
                        </form>
                    </div>
                </div>

            {% endif %}

        </div>
        <div id="div_profil_fil_actualite" class="col-9 pl-5 scrollbar scrollbar-primary w-100">
            <div class="my-5 d-flex justify-content-between align-items-center">

                <h2 class="font-weight-bold"><i class="fa fa-newspaper mr-2"></i>

                {% if data.user.id == app.user.id %}
                    Mes articles
                {% else %}
                    Articles publiés par {{ data.user.firstname }} {{ data.user.lastName }}
                {% endif %}

                <span id="profil_badge_nbr_article" class="badge badge-primary ml-2" style="font-size: 16px;">{{ data.lst_articles|length }} articles</span></h2>

                <a class="btn btn-sm btn-light mr-5" href="{{path('home')}}"><i class='fa fa-reply mr-2'></i>Retour au fil d'actualités</a>
            </div>

            {% for article in data.lst_articles %}

                <div class="row mr-3">
                    <div class="col-lg-5 col-xl-4">
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                            <img class="img-fluid" src=/{{ article.picture }} alt="Image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <a href="#" class="primary-text">
                            <h6 class="h6 pb-1">

                                {% for article_category in article.lst_categories %}
                                    {% for category in data.lst_categories %}
                                        {% if category.id == article_category %}
                                            <span class="badge badge-primary mr-1">{{ category.label }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                            </h6>
                        </a>
                        <h4 class="font-weight-bold mb-3"><strong>{{ article.title }}</strong></h4>
                        <div class="mb-3">{{ article.content|raw }}</div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class='fa fa-calendar mr-2'></i>{{ article.created_at|date("d/m/Y H:i") }}
                            </div>
                            <div>
                                <a href="/editFiche/{{ article.id }}" title="Éditer" class="text-dark"><i class="fa fa-edit fa-sm"></i></a>
                                <a action="/deleteFiche/{{ article.id }}" title="Supprimer" class="text-dark" onclick="btn_delete_click(this)" data-toggle="modal" data-target="#modalConfirmDelete"><i class="fa fa-trash-alt fa-sm"></i></a>
                            </div>
                        </div>

                        <form action="/post_commentaire/{{ article.id }}" method="post">
                            <section class="mt-5">
                                <div class="accordion md-accordion" id="div_accordion_{{ article.id }}" role="tablist" aria-multiselectable="true">
                                    <div class="card border-0 grey lighten-4">

                                        <div class="card-header" role="tab" id="div_accordion_heading_{{ article.id }}">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#div_accordion_{{ article.id }}" href="#div_accordion_collapse_{{ article.id }}" aria-expanded="false" aria-controls="div_accordion_collapse_{{ article.id }}">
                                                <h5 class="mb-0">
                                                    {{ article.lst_comments|length }} commentaires <i class="fas fa-angle-down rotate-icon"></i>
                                                </h5>
                                            </a>
                                        </div>

                                        <div id="div_accordion_collapse_{{ article.id }}" class="collapse" role="tabpanel" aria-labelledby="div_accordion_heading_{{ article.id }}" data-parent="#div_accordion_{{ article.id }}">
                                            <div class="card-body py-0">

                                                {% for comment in article.lst_comments %}

                                                    <div class="media d-block d-md-flex mt-4">
                                                        <div class="media-body text-center text-md-left md-3 ml-0">
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div>
                                                                    <a class="font-weight-bold mb-0 text-dark" href="/profil/{{ comment.created_on }}">{{ comment.name }}</a>, {{ comment.created_at|date("d/m/Y H:i") }}
                                                                </div>
                                                                <div>
                                                                    <a action="/deleteComment/{{ comment.id }}" title="Supprimer" class="text-dark" onclick="btn_delete_click(this)" data-toggle="modal" data-target="#modalConfirmDelete"><i class="fa fa-trash-alt fa-sm"></i></a>
                                                                </div>
                                                            </div>
                                                            {{ comment.content }}
                                                        </div>
                                                    </div>

                                                {% endfor %}

                                                <div class="form-group mt-4">
                                                    <label for="textarea_comment_add">Écrire un commentaire</label>
                                                    <textarea class="form-control" name="text" id="textarea_comment_add" rows="3"></textarea>

                                                    <div class="text-right my-1">
                                                        <button class="btn btn-primary btn-sm">Publier</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>

                {% if article != data.lst_articles|last %}
                    <hr class="my-5">
                {% elseif article == data.lst_articles|last %}
                    <div class="mb-5"></div>
                {% endif %}

            {% endfor %}

        </div>
    </div>

    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="ConfirmDelete"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-danger" role="document">
            <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Êtes-vous sûr de vouloir continuer ?<br>Cet élément sera supprimé définitivement.</p>
                </div>
                <div class="modal-body">
                    <i class="fas fa-times fa-4x animated rotateIn"></i>
                </div>
                <div class="modal-footer flex-center">
                    <a id="modal_confirm_delete_btn" href="#" class="btn  btn-outline-danger">Oui</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">Non</a>
                </div>
            </div>
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->

    <div id="div_scroll_to_top" class="position-fixed invisible" style="bottom: 10px; right: 10px; z-index: 9999999;">
        <a id="btn_scroll_to_top" class="btn-floating btn-primary">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

{% endblock %}