{% extends 'base.html.twig' %}

{% block body %}

<p>Email : {{ app.user.email }}</p>
<p>Prenom : {{ app.user.firstname }}</p>
<p>Nom : {{ app.user.lastname }}</p>
<p>Password : ********</p><a href="#">Changer le mot de passe</a><br>
<a href="#">Changer le Nom et Prenom</a><br>


<form action="{{ path('change_name')}}" method="post">
    <label>Nom : <input type="text" name="lastname" required></label><br>
    <label>Prenom : <input type="text" name="firstname" required></label><br>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>

<form action="{{ path('change_user_password')}}" method="post">
    <label>Ancien mot de passe : <input type="password" name="old_pw" required></label><br>
    <label>Nouveau mot de passe : <input type="password" name="new_pw" required></label><br>
    <label>Confirmer le mot de passe : <input type="password" name="cnew_pw" required></label><br>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>

<div>
    {% for article in article %}


    {{ article.id }}<br>
    {{ article.title }}<br>
    {{ article.createdon.firstname }}<br>
    {{ article.createdon.lastname }}<br>
    {{ article.createdat|date() }}<br>
    {{ article.content }}<br>

    <img src=/{{ article.picture }}><br>


    {% endfor %}
</div>

{% endblock %}

